@import "tailwindcss";

body{
  background-image: url(/backdrop.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.main-div{
  background-color: rgba(255, 255, 255, 0.511);
  height: 650px;
  width: 600px;
  border-radius: 25px;
}

.inner-div{
  height: 580px;
  width: 525px;
}

.w-div{
  height: 100px ;
  box-shadow: 
}

.custom-width{
  width: 300px;
  align-items: center;
}